.home-body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .home-content{
      max-width: 85%;
      height: 100%;
      margin: auto;
      .contact-tab{
        width: 33.33%;
      }
      .chat-tab{
        width: 66.66%;
      }
    }
}
  
#root {
  height: 100vh;
}
  
* {
  box-sizing: border-box;
}
  
.home-body{
  img{
    border-radius: 50%;
  }
  input[type='file'] {
    display: none;
    // color: transparent;
  }
  .btn-green-style {
    background-color: #38d39f !important;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #38d39f;
  }
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  .joinInnerContainer {
    width: 60%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
}
  @media (min-width: 320px) and (max-width: 480px) {
    .home-body{
      .joinOuterContainer {
        height: 100%;
      }

      .joinInnerContainer {
        width: 90%;
      }
    }   
  }
  .home-body{
    button:focus {
      outline: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-body{
    .home-content{
      .contact-tab, .chat-tab{
        width: 100%;
      }
      .chat-tab{
        display: none;
      }
    }
  }
}