@import '../../../App.scss';

.contacts-body{
    height: 100%;
    .MuiAppBar-colorPrimary{
        background-color: #38d39f;
        .MuiToolbar-gutters {
            padding-right: 0;
            height: 64px !important;
            padding-left: 24px !important;
        }
    }
    .makeStyles-title-3{
        text-align: center;
    }
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .contact-list{
        background-color: white;
        height: calc(100% - 64px);
        .contact{
            height: 72px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            border-bottom: 1px solid #424242;
            cursor: pointer;
            .left-item{
                height: 54px;
                width: 54px;
                border-radius: 50%;
                background-color: #38d39f;
                float: left;
                padding: 2px;
                margin-right: 12px;
                display: table;
            }
            .right-item{
                .contact-name{
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Kebab styling

.contacts-body{
    .kebab {
        cursor: pointer;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 16px;
        top: 12px;
        margin-bottom: 20px;
        figure {
            width: 6px;
            height: 6px;
            border-radius: 5px;
            background: white;
            margin: 3px 0;
        }
    }

    .middle {
        transition: all 0.25s $cubic-in;
        transform: scale(1);
        position: relative;
        box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
        -webkit-filter: blur(.1px);
        filter: blur(.1px);
    }

    .middle.active {
        transform: scale(4.5);
        transition: all 0.25s $cubic-out;
        box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
    }

    .cross {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        margin-top: -1px;
        font-family: $nunito;
        color: #424242;
        transition: all 0.2s $cubic-in;
        font-size: 22px;
        user-select: none;
    }

    .cross.active {
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.15s $cubic-out;
    }

    .dropdown {
        position: absolute;
        right: 4px;
        padding: 0;
        top: 2em;
        transition: all 0.25s ease-out;
        transform: scale(0);
        transform-origin: 100% 0;
        box-shadow: $shadow;
        li {
            display: block;
            width: 100%;
            a,p {
                width: 100%;
                padding: 1em 28px;
                display: inline-block;
                white-space: pre;
                box-sizing: border-box;
                &:hover {
                background: lighten($grey, 30%);
                }
            }
            p{
                margin-bottom: 0;
            }
        }
        &:hover {
            ul {
                transform: scale(1);
            }
        }
    }

    .dropdown.active {
        transform: scale(1);
        transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
        background-color: white;
    }

    a, li {
        color: darken($grey, 20%);
        text-decoration: none;
    }
}