.contacts-body{
    height: 100%;
    .MuiAppBar-colorPrimary{
        background-color: #38d39f;
        .MuiToolbar-gutters {
            padding-right: 0;
            height: 64px !important;
            padding-left: 24px !important;
        }
    }
    .makeStyles-title-3{
        text-align: center;
    }
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .contact-list{
        background-color: white;
        height: calc(100% - 64px);
        .contact{
            height: 72px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            border-bottom: 1px solid #424242;
            cursor: pointer;
            .left-item{
                height: 54px;
                width: 54px;
                border-radius: 50%;
                background-color: #38d39f;
                float: left;
                padding: 2px;
                margin-right: 12px;
                display: table;
            }
            .right-item{
                .contact-name{
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    }
}